workdir
dist
build
envs
.envs
.pyenvs
.pyenv
.venv
.venvs
.env
__pycache__
*.spec

# python virtual environment
.venv

# generated avi files
*.avi
*.mp4

# local config files
*.local.json
*.local.toml
*.local.yaml
*.local.yml
